.password, .username {
	position: relative;				
	height: 40px;
	outline: none;
	display: block;
	width: 200px;
	height: 30px;
	float: left;
	margin-right: 20px;
	border: 1px solid #333;				
}
.password input, .username input {
	width: 100%;
	height: 100%;
	font-size: 24px;
	outline: none;
	border: none;
}
.password::before, .password::after {
	content: "";
	background: red;
	width: 100%;
	height: 2px;
	display: block;
	position: absolute;
	margin-left: -1px;
	top: -2px;		
	padding: 1px;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, rgb(224,33,33)),
		color-stop(0.25, rgb(60,97,255)),
		color-stop(0.5, rgb(92,255,125)),
		color-stop(0.75, rgb(255,117,246)),
		color-stop(1, rgb(255,241,153))
	);
}
.password::after {
	top: auto;
	bottom: -2px;			
}